/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    color: #616161;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    overflow: scroll;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    z-index: 2;
    background-color: #e4e4e4;
}

header a {
    padding: 0em 1em;
    color: #66b95e;
    text-decoration: none;
}

main {
    position: relative;
    top: 69px;
    height: 100%;
    width: 100%;
    line-height: 1.25em;
    font-size: .75em;
}

.title {
    padding: 1em 0em;
    text-decoration: underline;
}

.container {
    display: inline;
    text-align: center;
}
/*****************************************************************************/
/*
/* Catalog Page
/*
/*****************************************************************************/
.filter {
    position: fixed;
    float: left;
    width: 15%;
    height: 100%;
    box-shadow: inset -5px 0px 12px 0px #f7f7f7;
    overflow-x: scroll;
}

.options{
    text-align: left;
    font-size: x-small;
    margin: 0em 1.5em;
}

.catalog {
    float: right;
    width: 85%;
    padding-bottom: 2em;
}

.catalog-item {
    padding: 1.5em;
    margin: 1em 3em;
    border: #616161 solid .15em;
}

.catalog-item a {
    width: fit-content;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 900;
    text-decoration: none;
    color: #616161;

}

.compare-button {
    display: none;
}
/*****************************************************************************/
/*
/* About Page
/*
/*****************************************************************************/
.about {
    padding: 0em 1em 1em 1em;
    border: .25em #616161 solid;
    margin: 2em;
    display: block;
}

